body 
    color: #fff
    font-size: 16px
    font-weight: 600

// ==== header
.header
    position: fixed
    background: transprarent
.header__buttonset
    display: flex
    flex-flow: row-reverse wrap

// ==== main 
.main
.main__section1
    height: 780px
    background-color: #0847ff
    // background-color: #0847ff
.main__section1--textset
.main__section1--text-head
.main__section1--text-context
.main__section1--imgset
.main__section1--social-link
.main__section1--scroll
